name: Build and test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: '11'
      - name: Build libs and distributions with Gradle
        run: ./gradlew build -x test
      - name: Test with Gradle
        run: ./gradlew test --tests config.ConfigurationTest --tests io.* --tests preprocessor.*
